*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header{
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(66, 0, 171);
  color: white;
  padding: 1rem;
}
header h1{ 
  max-width: 800px;
  margin: auto;
}
main{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
  padding: 1rem 0;
}
.welcome{
  width: 60%;
}
.chat{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.actions{
  display: flex;
  gap: 0.5rem;
}
.users{
  min-width: 25%;
}
form{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
form[name='disconnect'] {
  display: none;
}
form[name="message"] {
  display: none;
}
button{
  background-color: rgb(66, 0, 171);
  color: white;
  width: 100%;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
input{
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(76, 76, 76);
  color: white;
}
ul{
  list-style: none;
}
li{
  padding: 0.5rem;
  font-size: large;
  border-top: 1px solid rgb(76, 76, 76);
}
.messages{
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  gap: 0.5rem;
}
.qr {
  background-color: #111;
  color: rgb(255, 255, 255);
  font-family: monospace;
  padding: 1rem;
  border-radius: 0.5rem;
  white-space: pre;
  text-align: center;
  line-height: 1;
}
.qr p {
  font-size: 0.5rem;
}
.message{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  background-color: rgb(76, 76, 76);
  border-radius: 0.5rem;
}
.message-header{
  display: flex;
  justify-content: space-between;
}
.alert{
  background-color: rgb(98, 98, 98);
  border-radius: 0.5rem;
  padding: 0.2rem;
  color: white;
}
@media screen and (max-width: 600px) {
  header h1 span {
    display: block;
  }
  main {
    flex-direction: column-reverse;
    gap: 1rem;
    width: 95%;
  }
  .qr {
    display: none;
  }
  .welcome {
    width: 100%;
  }
  .users {
    display: none;
  }
}